<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <a href="{% url 'resume_tailor' %}" style="margin-bottom: 20px; display: inline-block;">Switch to Resume Tailor</a>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header-right">
            <span>Welcome, {{ username }}</span>
            <a href="{% url 'logout' %}"><button class="logout-button">Logout</button></a>
        </div>
    </header>
</body>
</html>